
.content .arrows {
    width: 100%;
    display: flex;
    margin: 20px 0;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .content .arrows {
        margin: 10px 0;
    }
}

.left-arrow {
    background: url('/image/arrow_sprite.svg') 0 0;
    background-size: 80px;
}

.left-arrow:hover {
    background: url('/image/arrow_sprite.svg') -40px 0;
    background-size: 80px;
    background-color: white;
}

.right-arrow {
    background: url('/image/arrow_sprite.svg') 0 -40px;
    background-size: 80px;
}

.right-arrow:hover {
    background: url('/image/arrow_sprite.svg') -40px -40px;
    background-size: 80px;
    background-color: white;
}

.left-arrow, .right-arrow {
    border: 1px solid silver;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: 0 30px;
}

.content .cards_content {
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 1000px){
    .content .cards_content {
        width: 80%;
    }
}

@media screen and (max-width: 880px){
    .content .cards_content {
        width: 85%;
    }
}

@media screen and (max-width: 830px){
    .content .cards_content {
        width: 100%;
    }
}

.content .paging {
    font-size: 20px;
    color: silver;
    position: absolute;
    top: 10px;
    left: 20px;
}

.content .show_card {
    border: 1px solid silver;
    width: 100%;
    max-width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    position: relative;
    margin:auto;
    padding: 10px;
}

.text-align-center {
    text-align: center;
}

.deletecheck-popup {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: auto;
    position: relative;
    width: 290px;
    height: 150px;
    color: #333333;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
    box-shadow: 0 0 10px;
    overflow: hidden;
}

.deletecheck-popup .cancel, .deletecheck-popup .confirm{
    width: 30%;
    margin: 10px 10% 0 10%;
    padding: 3px;
    background-color: white;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    color: white;
    z-index: 5;
    text-align: center;
    height: 34px;
    line-height: 29px;
}

.deletecheck-popup > .cancel {
    background-color: rgb(1, 192, 192);
}

.deletecheck-popup > .confirm {
    background-color: #E02D2D;
}

.deletecheck-popup-background {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 90px 0 0 100vw;
    border-color: transparent transparent transparent rgb(231, 247, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.wrap {
    width: 100%;
    position: relative;
}

.features {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
    left: 0;
}

.content .feature_block {
    width: 100px;
    height: 100px;
    border-bottom: 3px solid rgb(1, 192, 192);
    box-shadow: 0 0 5px silver;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #5f5f5f;
    background-color: white;
}

.content .feature_block:hover {
    border-bottom: 5px solid #FFE20E;
}

.feature_block .block_img {
    width: 65px;
    height: 65px;
    background-size: cover;
    font-size: 0;
}

.feature_block .card_test {
    background: url('/image/feature_sprite.svg') 0 0;
    background-size: 130px 195px;
}

.feature_block:hover .card_test {
    background: url('/image/feature_sprite.svg') -65px 0; 
    background-size: 130px 195px;
}

.feature_block .match_game {
    background: url('/image/feature_sprite.svg') 0 -65px;
    background-size: 130px 195px;
}

.feature_block:hover .match_game {
    background: url('/image/feature_sprite.svg') -65px -65px;
    background-size: 130px 195px;
}

.feature_block .star_learning {
    background: url('/image/feature_sprite.svg') 0 -130px;
    background-size: 130px 195px;
}

.feature_block:hover .star_learning {
    background: url('/image/feature_sprite.svg') -65px -130px;
    background-size: 130px 195px;
}

.content .edit-feature {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
    right: 0;
}


@media screen and (max-width: 700px){
    .content .edit-feature {
       position: relative;
       flex-flow: row;
       justify-content: flex-end;
       margin-bottom: 10px;
    }
}

.content .edit-feature_block {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px silver;
    background-color: white;
    margin: 5px 5px 10px 5px;
}

.content .edit-feature_block .block_img {
    width: 100%;
    height: 100%;
    font-size: 0;
    border-radius: 50%;
}

.edit-feature_block .shuffle_cards {
    background: url('/image/card_feature_sprite.svg') 0 0;
    background-size: 90px 180px;
    background-color: white;
}


.edit-feature_block:hover .shuffle_cards {
    background: url('/image/card_feature_sprite.svg') -45px 0;
    background-size: 90px 180px;
    background-color: white;
}

.edit-feature_block .exchange_cards {
    background: url('/image/card_feature_sprite.svg') 0 -45px;
    background-size: 90px 180px;
    background-color: white;
}


.edit-feature_block:hover .exchange_cards {
    background: url('/image/card_feature_sprite.svg') -45px -45px;
    background-size: 90px 180px;
    background-color: white;
}

.edit-feature_block .edit_collection {
    background: url('/image/card_feature_sprite.svg') 0 -90px;
    background-size: 90px 180px;
    background-color: white;
}

.edit-feature_block:hover .edit_collection {
    background: url('/image/card_feature_sprite.svg') -45px -90px;
    background-size: 90px 180px;
    background-color: white;
}

.edit-feature_block .delete_collection {
    background: url('/image/card_feature_sprite.svg') 0 -135px;
    background-size: 90px 180px;
    background-color: white;
}

.edit-feature_block:hover .delete_collection {
    background: url('/image/card_feature_sprite.svg') -45px -135px;
    background-size: 90px 180px;
    background-color: white;
}

@media screen and (max-width: 850px) {
    .content .wrap {
        display: flex;
        flex-flow: column;
    }

    .features {
        position: relative;
        order: 2;
        flex-flow: row wrap;
    }

    .feature_block {
        margin: 10px;
    }
}

@media screen and (max-width: 550px) {
    .content .show_card {
        height: 40vh;
        max-height: 300px;
    }  
}

@media screen and (max-width: 500px){
    .content .edit-feature_block {
       width: 40px;
       height: 40px;
       margin-bottom: 0;
    }

    .edit-feature_block .shuffle_cards {
        background: url('/image/card_feature_sprite.svg') 0 0;
        background-size: 80px 160px;
        background-color: white;
    }
    
    
    .edit-feature_block:hover .shuffle_cards {
        background: url('/image/card_feature_sprite.svg') -40px 0;
        background-size: 80px 160px;
        background-color: white;
    }
    
    .edit-feature_block .exchange_cards {
        background: url('/image/card_feature_sprite.svg') 0 -40px;
        background-size: 80px 160px;
        background-color: white;
    }
    
    
    .edit-feature_block:hover .exchange_cards {
        background: url('/image/card_feature_sprite.svg') -40px -40px;
        background-size: 80px 160px;
        background-color: white;
    }
    
    .edit-feature_block .edit_collection {
        background: url('/image/card_feature_sprite.svg') 0 -80px;
        background-size: 80px 160px;
        background-color: white;
    }
    
    .edit-feature_block:hover .edit_collection {
        background: url('/image/card_feature_sprite.svg') -40px -80px;
        background-size: 80px 160px;
        background-color: white;
    }
    
    .edit-feature_block .delete_collection {
        background: url('/image/card_feature_sprite.svg') 0 -120px;
        background-size: 80px 160px;
        background-color: white;
    }
    
    .edit-feature_block:hover .delete_collection {
        background: url('/image/card_feature_sprite.svg') -40px -120px;
        background-size: 80px 160px;
        background-color: white;
    }
}

@media screen and (max-width: 450px) {
    .content .feature_block {
        margin: 5px;
        width: 80px;
        height: 80px;
    }

    .feature_block .block_img {
        width: 45px;
        height: 45px;
    }

    .feature_block .card_test {
        background: url('/image/feature_sprite.svg') 0 0;
        background-size: 90px 135px;
    }
    
    .feature_block:hover .card_test {
        background: url('/image/feature_sprite.svg') -45px 0; 
        background-size: 90px 135px;
    }
    
    .feature_block .match_game {
        background: url('/image/feature_sprite.svg') 0 -45px;
        background-size: 90px 135px;
    }
    
    .feature_block:hover .match_game {
        background: url('/image/feature_sprite.svg') -45px -45px;
        background-size: 90px 135px;
    }
    
    .feature_block .star_learning {
        background: url('/image/feature_sprite.svg') 0 -90px;
        background-size: 90px 135px;
    }
    
    .feature_block:hover .star_learning {
        background: url('/image/feature_sprite.svg') -45px -90px;
        background-size: 90px 135px;
    }
}

.content .show_card p {
    font-size: 30px;
    color: #333333;
}

.content .show_card_hover {
    color: white;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: right;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    visibility: hidden;
}

.content .show_card:hover .show_card_hover {
    visibility: visible;
}

.white-overlay-cover {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 5;
}

.white-overlay-cover .loading {
    width: 60px;
    height: 60px;
    margin: auto;
}

/* ---------- animation ---------- */
.open {
    animation-name: flipInX;
    animation-duration: .5s;
}

@keyframes flipInX {
    from {
        transform: perspective(600px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(600px) rotate3d(1, 0, 0, -3deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(600px) rotate3d(1, 0, 0, 3deg);
        opacity: 1;
    }

    80% {
        transform: perspective(600px) rotate3d(1, 0, 0, 0deg);
    }

    to {
        transform: perspective(600px);
    }
}

.ease {
    animation-name: ease-in-out;
    animation-duration: .25s;
}

@keyframes ease-in-out {
    from {
        animation-timing-function: ease-in;
        opacity: 0;
    }

    60% {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}