.collection {
    width: 30%;
    min-height: 163px;
    padding: 10px 20px;
    margin: 0 1.6666%;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 5px 5px 5px #dbdbdb;
    outline: 1px solid #dbdbdb;
    border-bottom: 2px solid white;
    color: #333333;
    cursor: pointer;
    position: relative;
}

.first_time_hint {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.first_time_hint h3 {
    width: 100%;
    margin: 0 2% 20px 2%;
    color: rgb(1, 192, 192);
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    border-bottom: 3px solid #FFE20E;
    padding-bottom: 5px;
}

.first_time_hint .collection {
    border: 1px dashed #dbdbdb;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    outline: none;
}

.first_time_hint .collection .wrap_new {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.first_time_hint .collection p{
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

.first_time_hint .collection .search_lan{
    display: block;
    width: 30%;
    padding-bottom: 30%;
    margin: 0 auto;
    background-size: cover;
}

.collection:hover {
    border-bottom: 3px solid #FF6D14;
}

.collection > h2 {
    color: rgb(1, 192, 192);
    border-bottom: 3px solid #FFE20E;
    font-weight: 700;
    margin-bottom: 10px;
}

.collection .new_card {
    background-image: url('/image/new_card.svg');
}

.collection:hover .new_card {
    background-image: url('/image/new_card_hover.svg');
}

.collection .recent_card {
    background-image: url('/image/light.svg');
}

.collection:hover .recent_card {
    background-image: url('/image/light_hover.svg');
}

.collection .english {
    background-image: url('/image/english.svg');
}

.collection .english:hover {
    background-image: url('/image/english_hover.svg');
}

.collection .japanese {
    background-image: url('/image/japanese.svg');
}

.collection .japanese:hover {
    background-image: url('/image/japanese_hover.svg');
}

.collection .korean {
    background-image: url('/image/korean.svg');
}

.collection .korean:hover {
    background-image: url('/image/korean_hover.svg');
}

.collection .creator_grid {
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 32px;
    margin: 15px 0 5px 0;
    align-items: center;
}

.collection .creator_grid p {
    font-size: 12px;
    color: #979797;
    text-align: right;
}

.collection .creator_grid img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: auto;
}

.collection > .words_number {
    font-size: 14px;
    color: #979797;
    text-align: left;
}

.collection .not_open {
    width: 20px;
    height: 20px;
    background-image: url('/image/lock.svg');
    background-size: cover;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.search_none {
    margin: 30px auto;
    text-align: center;
    color: #979797;
    line-height: 50px;
    font-weight: 300;
}

.white-overlay {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.white-overlay .loading {
    width: 60px;
    height: 60px;
    margin: auto;
}

.page_location {
    width: 100%;
    margin: 0 2% 20px 2%;
    color: rgb(211, 211, 211);
    display: flex;
    flex-flow: row;
    align-items: center;
}

.page_location span {
    font-size: 14px;
}

.page_location div {
    cursor: pointer;
}

.page_location div:first-child {
    margin-right: 10px;
}

.page_location div:last-child {
    margin-left: 10px;
}

.page_active {
    color: #979797;
}

@media screen and (max-width: 800px) {
    .collection {
        width: 45%;
    }
}

@media screen and (max-width: 650px) {
    .collection {
        width: 100%;
    }
}