.collection {
    width: 30%;
    padding: 10px 20px;
    margin: 0 10px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 5px 5px 5px #dbdbdb;
    border: 1px solid #dbdbdb;
    color: #333333;
    cursor: pointer;
    position: relative;
}

.collection:hover {
    border-bottom: 3px solid #FF6D14;
}

.collection > h2 {
    color: rgb(1, 192, 192);
    border-bottom: 3px solid #FFE20E;
    font-weight: 700;
    margin-bottom: 10px;
}

.collection .creator_grid {
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 32px;
    margin: 15px 0 5px 0;
    align-items: center;
}

.collection .creator_grid p {
    font-size: 12px;
    color: #979797;
    text-align: right;
}

.collection .creator_grid img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: auto;
}

.collection > .words_number {
    font-size: 14px;
    color: #979797;
    text-align: left;
}

.collection .not_open {
    width: 20px;
    height: 20px;
    background-image: url('/image/lock.svg');
    background-size: cover;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.search_none {
    margin: 30px auto;
    text-align: center;
    color: #979797;
    line-height: 50px;
    font-weight: 300;
}

.white-overlay {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.white-overlay .loading {
    width: 60px;
    height: 60px;
    margin: auto;
}

.new_card {
    width: 200px;
    height: 200px;
    margin: 15vh auto 0 auto;
    background: url('/image/new_card_sprite.svg') 0 0;
    background-size: 400px 200px;
}

.new_card:hover {
    background: url('/image/new_card_sprite.svg') -200px 0;
    background-size: 400px 200px;
}

.page_location {
    width: 100%;
    margin: 0 11px 15px 15px;
    color: rgb(211, 211, 211);
    display: flex;
    flex-flow: row;
    align-items: center;
}

.page_location span {
    font-size: 14px;
}

.page_location div {
    cursor: pointer;
}

.page_location div:first-child {
    margin-right: 10px;
}

.page_location div:last-child {
    margin-left: 10px;
}

.page_active {
    color: #979797;
}

@media screen and (max-width: 800px) {
    .collection {
        width: 45%;
    }
}

@media screen and (max-width: 650px) {
    .collection {
        width: 100%;
    }
}