.collection {
    width: 30%;
    padding: 10px 20px;
    margin: 0 10px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 5px 5px 5px #dbdbdb;
    border: 1px solid #dbdbdb;
    color: #333333;
    cursor: pointer;
    position: relative;
}

.collection:hover {
    border-bottom: 3px solid #FF6D14;
}

.collection > h2 {
    color: rgb(1, 192, 192);
    border-bottom: 3px solid #FFE20E;
    font-weight: 700;
    margin-bottom: 10px;
}

.collection > p {
    font-size: 12px;
    color: #8a8a8a;
    text-align: right;
}

.collection > .words_number {
    font-size: 15px;
    color: #333333;
    margin-bottom: 10px;
    text-align: left;
}

.collection .not_open {
    width: 20px;
    height: 20px;
    background-image: url('/image/lock.svg');
    background-size: cover;
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.search_none {
    margin: 30px auto;
    text-align: center;
    color: #979797;
    line-height: 50px;
    font-weight: 300;
}

.white-overlay {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.white-overlay .loading {
    width: 60px;
    height: 60px;
    margin: auto;
}

.white-overlay .new_card {
    width: 200px;
    height: 200px;
    margin: auto;
    background: url('/image/new_card_sprite.svg') 0 0;
    background-size: 400px 200px;
}

.white-overlay .new_card:hover {
    background: url('/image/new_card_sprite.svg') -200px 0;
    background-size: 400px 200px;
}

.page_location {
    width: 100%;
    margin: 0 11px 11px 11px;
    color: #979797;
}

@media screen and (max-width: 800px) {
    .collection {
        width: 45%;
    }
}

@media screen and (max-width: 650px) {
    .collection {
        width: 100%;
    }
}